.grid-example{
  display: grid;
  grid-template-columns: 1fr 25px 3fr;
  grid-template-rows: auto;
  grid-template-areas: "col-1 . col-2";
  max-width: 980px;
  margin: 0 auto;

  &__col-1 {
    grid-area: col-1;
    outline: 2px solid red;
  }

  &__col-2 {
    grid-area: col-2;
    outline: 2px solid blue;
  }
}