<!DOCTYPE html>
<html lang="en">
  {{> partials/head}}
<body>
  <div class="grid-example">
    {{!-- NOTE: Col 2  --}}
    <div class="grid-example__col-1">
      <nav>
          <a href="home.html">Home</a>
      </nav>
    </div>

    {{!-- NOTE: Col 2  --}}
    <div class="grid-example__col-2">
      {{> partials/test}}
      <img src="../assets/images/placeholder-image.png" alt="">
    </div>
  </div>
</body>
</html>